/*
 * https://coolors.co/1c1018-36c9c6-ed6a5a-ffbe0b-6bd425
 * # 1C1018  Xiketic           dark purple
 * # ed6a5a  Terra Cotta       red
 * # 36c9c6  Robin Egg Blue    vibrant blue
 * # ffbe0b  Mango             orange yellow
 * # 6bd425  Lime Green        lime green
 */
* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window {
  background: transparent;
  color: #000000;
}

window.empty * > #window {
  background: transparent;
  border: none;
}

#window {
  background: white;
  padding: 0 10px;
  border-bottom: 3px solid #36c9c6;
  margin-top: 3px;
}

#workspaces {
  background: white;
  padding: 0;
  margin: 3px 0 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: #000000;
}

#workspaces button.focused {
  border-bottom: 3px solid #36c9c6;
  border-radius: 0;
}

#workspaces button:hover {
  border-bottom: 3px solid #36c9c6;
  border-radius: 0;
  box-shadow: inherit;
  text-shadow: inherit;
  background: white;
}

#workspaces button.urgent {
  border-bottom: 3px solid #ed6a5a;
  border-radius: 0
}

#pulseaudio,
#network,
#battery,
#clock,
#cpu,
#memory,
#temperature,
#tray,
#mode,
#idle_inhibitor,
#mpd
{
  border-bottom: 3px solid #36c9c6;
  padding: 0 10px;
  margin: 3px 5px 0 5px;
  background: white;
}

#idle_inhibitor {
  min-width: 25px;
}

#idle_inhibitor.activated {
  background: #36c9c6;
  color: white;
  border-bottom-color: #ffffff;
}

#network {
  min-width: 25px;
}

#pulseaudio {
  min-width: 25px;
}

#pulseaudio.muted {
  border-bottom-color: #ed6a5a;
}

#network.disconnected {
  border-bottom-color: #ed6a5a;
}

#battery.charging {
  border-bottom-color: #36c9c6;
}

#batter.critical:not(.charging) {
  border-bottom-color: #ed6a5a;
}
